
$softblue:#6699ff;
$softpink:#ffcce6;
$softgray:#cccccc;
$mintgreen:#66ffcc;
$softyellow:#ffff99;
$verylightblue:#ccedff;
$pinkyred:#ff80b2;
$verylightyellow:#ffffe5;
$verylightgreen:#ccffcc;

.week-view-background{
	background-color: $verylightgreen;
}
.appt-details{
	background-color: $softpink;
}
.header-background{
	background-color: $softblue;

}
.page-background1{
	background-color: $verylightyellow;
}
.gray{
	background-color: $softgray;
}