.profile-text{
	font-family: Helvetica;
	font-size: 1.5vw;

}
.location-text{
	text-align: center;
	font-size: 1vw;
}
.center{
	text-align: center;
}
.field20{
	width:20vw;
}
.field30{
	width:30vw;
}
.field10{
	width:10vw;
}
.commentQuestion{
	width: 30vw;
	height:15vw;
}
.tiny-font{
	font-size: 0.8vw;
}

.second-weekly-header{
	margin-top:none;
}

.tagline{
	color:black;
	font-size: 1.5vw;
}
.align-right{
	float: right;
}
.date-dayview{
	margin-left: 2vw;
	font-size: 1.5vw;
}
.weekly-header{
	background-color: $softpink;
	border-left:1px solid black;
}