.profile-text{
	font-family: Helvetica;
	font-size: 1.2vw;

}
.location-text{
	text-align: center;
	font-size: 1.5vw;
	margin-bottom: 0.3vw;
	color: $mylightkhaki;
}
.center{
	text-align: center;
}
.field20{
	width:20vw;
}
.field30{
	width:30vw;
}
.field10{
	width:10vw;
}
.commentQuestion{
	width: 30vw;
	height:15vw;
}
.tiny-font{
	font-size: 0.8vw;
	margin-bottom: 0;
}

.second-weekly-header{
	margin-top:none;
	border-bottom: solid 1px;
}

.tagline{
	color:black;
	font-size: 1.5vw;
}
.align-right{
	float: right;
}
.date-dayview{
	margin-left: 2vw;
	font-size: 1.5vw;
}
.weekly-header{
	background-color: $mylightorange;
	border-left:1px solid black;
}
.calendar-month{
	font-size: 1.5vw;
}
.header-style{
	color:$mylightkhaki;
	font-weight: 500;
	margin-top: 5vw;
}