@import "./sass/Colors";
@import "./sass/textformats";
@import "./sass/Buttons";
@import "./sass/settings";


.profile{
	width:10vw;
	height:10vw;
	border-width:2px;
	border-style: solid;
	border-color: black;
}
.map{
	width:100%;
}
.blue{
	background: blue;
}
.panel{
	width:100%;
}
.separator .row {
	margin-top: 3vw;
	padding-top: 3vw;
	color:white;
}
.separator {
	max-width: 100%;
	min-height:30%;
	background-color: white;
}
.table-week{
	width: 100%;
	font-size: 1vw;
}
.hidden{
	display:none;
}
#dashboard-appointments{
	width:50%;
}
.location-div{
	border:solid;
	border-width: 1px;
	border-radius: 1px;
	border-color: black;
}
.date-panel{
	border-radius: 1px;
	background-color: white;
	padding:1px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
.text-message-notice{
	padding:1px;
	border-style: solid;
	border-radius: 1px;
	border-color: black;
	border-width: 1px;
	background-color: $softgray;
}
.empty-square{
	background-color: $softgray;
}
.std-panel-size{
	width:80%;
	margin-left: 10%;
}
.sml-panel-size{
	width:40%;
	margin-left: 30%;
}
.contact-form-style{
	padding:2vw;
	background-color: $softpink;
}
